.header-container {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-base);
  background-color: var(--primary-color);
}

@media only screen and (min-width: 992px) {
  .header-container {
    flex-direction: row;
    align-items: center;
  }
}
